body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

input {
  width: 350px;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

img {
  margin-top: 20px;
  border-radius: 10px;
}
