body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
  padding: 40px;
}

input {
  width: 300px;
  padding: 10px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

#output {
  margin-top: 20px;
}
